@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* font-family: 'MedievalSharp', cursive; */
  font-size: 2vh;

  --main-bg-color: #011627;
  --sec-bg-color: #2ec4b6;
  --text-color: #fdfffc;
  --text-color-special: #e71d36;

  background-color: var(--main-bg-color);
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
}

.navbar-center {
  text-align: center;
  color: var(--text-color);
  padding: 25px;
  width: 50%;
  border-radius: 0px 0px 24px 24px;
  font-family: 'MedievalSharp', cursive;
  background-color: var(--main-bg-color);
}

.navbar-side {
  width: 25%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.titleCard {
  width: 100vw;
  height: 100vh;
}